# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
obj

# Linker output
*.ilk
*.map
*.exp
bin

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

tmp

fed/src/util.c
fed/src/util.h
fed/src/colmap.c
fed/src/colmap.h
fed/src/filedialog.h
fed/src/globals.h
fed/src/item.c
fed/src/item.h
fed/src/keydefines.h
fed/src/listdir.c
fed/src/listdir.h
fed/src/progbar.c
fed/src/progbar.h

